<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>
<p>
    <strong>Text:</strong>
    <%= @article.text %>
    
</p>
<%= link_to '返回',articles_path %>
<%= link_to '编辑',edit_article_path(@article) %>